h1 {
    text-align: center;
    text-transform: uppercase;  
}

#title {
    text-transform: uppercase;  
    background-color: #95b6f5;
       
}
#paragraph {
 padding: 70px 0;
 border: 3px solid #95b6f5;
 border-radius: 10px;
}

#line { 
  display: inline-block;
  margin-right: 10px;

}
#stuff{
    text-transform: uppercase;  
    background-color: #95b6f5;
    font-weight: 700;
}